---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>This is the <strong>technology</strong> company from <a href="https://find-and-update.company-information.service.gov.uk/company/15778362">United Kingdom</a>. Sophgo Technologies is a SaaS S2B company. It contains a large number of multinational businesses to make your business easy to get started.</p>

	<p>Sophgo Technologies shorten the cross-border business of sellers and enterprises through AI technology. We have the ability to realize value in the replacement and to serve our customers.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
